h1{
    text-align: center;
    color:white;
    background: linear-gradient(red,yellow);
    margin-top: 3%;
}
.Raj{
    width: 30vw;
    clip-path: circle();
    margin-left: 35%;
    margin-top: 5%;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
